/* Global Styles */
body {
  overflow-x: hidden;
  background-color: black;
}

.full-width-height {
  width: 100%;
  height: 100%;
}
.full-height {
  height: 100%;
}

.white {
  color: white;
}

.yellow {
  color: #d6a12f;
}

.green {
  color: #474013;
}

h1,
h2,
h3,
h4 {
  font-family: "Arvo", serif;
}

h5 {
  font-family: "Muli", sans-serif;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 16px;
}

a {
  font-size: 18px;
  font-family: "Muli", sans-serif;
}

ul {
  margin-bottom: 0px;
}

p,
li {
  font-size: 16px;
  font-family: "Muli", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}
sup{
  font-size: 60%;
}
a:hover {
  text-decoration: none;
  color: white;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  position: absolute;
}

/* Global Movement Styles */
.width-100 {
  width: 100%;
}

.height-100 {
  height: 100vh;
}

.ov-pad-30-vert {
  padding: 30px 0px;
}

.ov-pad-10-vert {
  padding: 10px 0px 0px;
}

.ov-pad-30-horz {
  padding: 0px 30px;
}

.ov-padding-top-main {
  padding-top: 57vh;
}

.ov-padding-20 {
  padding: 20px;
}

.ov-padding-60 {
  padding: 70px 60px;
}

.ov-padding-60-t {
  padding: 70px 70px 0px 75px;
}

.ov-padding-60-attraction {
  padding: 4vh 40px;
}

.ov-padding-zero-horz {
  padding-left: 0px;
  padding-right: 0px;
}

.ov-margin-20 {
  margin-right: 20px;
  margin-top: 18px;
}

.ov-marg-right-sm {
  margin-right: 10px;
}

.ov-remove-marg-horz {
  margin-right: 0px;
  margin-left: 0px;
}

.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

/* Global Lines */
.hr-yellow {
  border: 1px solid #d6a12f;
  width: 70px;
}

.hr-white {
  border: 1px solid white;
  position: relative;
  width: 100%
}

.hr-70 {
  width: 70%;
}

.hr-animal {
  width: 50%;
  position: absolute;
  bottom: -16px;
  right: 6.5vw;
}

.hug-img-line {
  margin-bottom: 0px;
  width: 100%;
}

.attraction-line {
  width: 75%;
  position: absolute;
  top: -18px;

}

/* Nav */

.ov-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 6px black;
}

.ov-nav ul {
  list-style: none;
}

.ov-nav ul li {
  float: left;
  padding: 1.5vh 1.25vw;
}

.ov-nav ul li a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  top: 0;
}

.ov-nav ul li a:hover {
  color: #474013;
}

.ov-nav ul li a:active {
  color: black !important;
  text-shadow: 1px 0px 3px #DDD;
}

.ov-nav ul li a i:hover {
  color: #474013;
}

.ov-nav ul li a:active {
  position: relative;
  top: -1px;
}

li.nav-item.li-l {
  color: black;
}

.block-100 {
  display: block;
  width: 100%;
}

.underline-effect li a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
}

.underline-effect li a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(214, 161, 47, 1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 0.3s;
  -moz-transition: opacity 1s, -moz-transform 0.3s;
  transition: opacity 1s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.underline-effect li a:hover::after,
.underline-effect li a:focus::after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* Boostrap Rewrites */
.nav-link {
  padding: 0px;
}

.navbar {
  padding: 0px;
}

.navbar-toggler {
  margin: 0 auto;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100px;
}

.carousel-indicators .active {
  background-color: #d6a12f;
}

.carousel-inner {
  margin: 20px 0px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 50px;
  height: 50px;
}

/* Homepage Styles */
.ov-pad-main-img {
  opacity: .95;
  position: relative;
  transform: scale(1);
}

.ov-pad-main-img:hover::before {
  opacity: 1;
  -webkit-transition: all .35s ease-in;
  -moz-transition: all .35s ease-in;
  -o-transition: all .35s ease-in;
  transition: all .35s ease-in;
}

.ov-pad-main-img:hover {
  opacity: 1;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all .35s ease-in;
  -moz-transition: all .35s ease-in;
  -o-transition: all .35s ease-in;
  transition: all .35s ease-in;
  transform: scale(1.015);
}

.ov-pad-main-img:hover>.ov-push figcaption {
  opacity: 1;
  -webkit-transition: all .35s ease-in;
  -moz-transition: all .35s ease-in;
  -o-transition: all .35s ease-in;
  transition: all .35s ease-in;
  transform: scale(1.035);
}

figcaption p{
  font-size: 14px;
}

.ov-main-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.ov-pad-main-img {
  height: 83vh;
  position: relative;
  display: block;
}

.ov-push {
  top: 57vh;
  padding: 20px;
  position: relative;
}

.ov-pad-main-img::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 65%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 65%);
  content: '';
  opacity: 0;
  transform-origin: bottom;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

.ov-push figcaption {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#ov-bg {
  background: url(../imgs/home-bg.png) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.col-3-main {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding: 0px 10px;
}

.main-headline {
  float: left;
  padding: 0px 15px;
}

#carouselAnimal {
  display: block;
}

#carouselAnimal-mobile {
  display: none;
}

.double-line {
  margin-top: 18px;
  float: left;
}

.ov-main-title {
  display: inline-block;
}

.ov-ne {
  background: url(../imgs/Home-NE.jpg) no-repeat;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-position: center center;
}

.ov-s {
  background: url(../imgs/Home-South.jpg) no-repeat;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-position: center center;
}

.ov-mw {
  background: url(../imgs/Home-MW.jpg) no-repeat;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-position: center center;
}

.ov-w {
  background: url(../imgs/Home-West.jpg) no-repeat;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-position: center center;
}

img.home-shadow {
  position: relative;
  top: -36px;
  z-index: 5;
  width: 100%;
}

/* Inner Pages */

#ov-bg-ne {
  background: url(../imgs/NE-Home-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}
#ov-bg-s {
  background: url(../imgs/South-Home-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}
#ov-bg-mw {
  background: url(../imgs/MW-Home-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}
#ov-bg-w {
  background: url(../imgs/West-Home-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-ne-weather {
  background: url(../imgs/NE-Weather-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-s-weather {
  background: url(../imgs/South-Weather-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-mw-weather {
  background: url(../imgs/MW-Weather-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-w-weather {
  background: url(../imgs/West-Weather-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-ne-animal {
  background: url(../imgs/NE-Animals-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-mw-animal {
  background: url(../imgs/MW-Animals-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-s-animal {
  background: url(../imgs/South-Animals-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-w-animal {
  background: url(../imgs/West-Animals-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-ne-gear {
  background: url(../imgs/NE-Gear-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-mw-gear {
  background: url(../imgs/MW-Gear-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-s-gear {
  background: url(../imgs/South-Gear-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-w-gear {
  background: url(../imgs/West-Gear-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-ne-attraction {
  background: url(../imgs/NE-Attractions-bg@2x.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-mw-attraction {
  background: url(../imgs/MW-Attractions-bg@2x.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-s-attraction {
  background: url(../imgs/South-Attractions-bg@2x.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#ov-bg-w-attraction {
  background: url(../imgs/West-Attractions-bg@2x.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.ov-number {
  font-size: 212px;
  color: white;
  opacity: 0.15;
  position: absolute;
  top: -55px;
  right: 15px;
}

.ov-intro-bump {
  width: 60%;
  padding: 30vh 0px 0px 10vw;
}

.ov-weather-bump {
  width: 100%;
  margin: 0px;
}

.ov-animal-bump {
  width: 100%;
  margin: 0px;
}

.ov-gear-bump {
  width: 100%;
  margin: 0px;
}

.ov-attraction-bump {
  width: 100%;
  margin: 0px;
}

.ov-animal-box {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  float: left;
  width: 30%;
  margin: 0px 1.5%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .75);
  position: relative;
  height: 500px;
}

.ov-animal-box h4 {
  font-size: 20px;
  margin-bottom: 12px;
}

.ov-animal-box-400{
  height: 400px;
}

.ov-animal-box-430{
  height: 430px;
}

.ov-animal-box p {
  font-size: 15px;
}

.animal-img {
  width: 100%;
  margin: 0px auto;
  display: block;
}

.ov-attraction-text {
  font-size: 14px;
}

.ov-attraction-text-quick-facts {
  font-size: 13px;
  text-align: left !important;
}

.ov-attraction-bar {
  background-color: #d6a12f;
  color: white;
  padding: 15px;
  font-size: 18px;
  text-align: center;
}

.dark-o-bg {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .75);
}

.ul-attraction {
  list-style: none;
  text-align: center;
  width: 100%;
  margin-top: 16.5vh;
  padding-left: 0px;
  position: relative;
}

.ov-gear-nav {
  list-style: none;
  float: left;
  padding-left: 0px;
  border-bottom: 0px;
  margin-bottom: 5px;
}

.ov-gear-nav li:first-child {
  padding-left: 0px;
}

.ov-gear-nav li {
  padding: 15px 5px;
  float: left;
}

.nav-link:focus {
  border: none !important;
}

.ov-gear-nav li a {
  padding: 15px 30px;
  font-size: 25px;
  color: white;
  font-family: "Arvo", serif;
}

.nav-tabs .nav-link {
  border: none !important;
}

.nav-tabs .nav-link:hover {
  border: none !important;
  background-color: rgba(0, 0, 0, 0.45) !important;
  color: #ffcb5b;
  -webkit-transition: background-color .35s ease-in, color .35s ease-in-out;
  -moz-transition: background-color .35s ease-in, color .35s ease-in-out;
  -o-transition: background-color .35s ease-in, color .35s ease-in-out;
  -ms-transition: background-color .35s ease-in, color .35s ease-in-out;
  transition: background-color .35s ease-in, color .35s ease-in-out;
}

.nav-tabs a:first-child {
  margin-left: 0px;
}

.nav-tabs a {
  padding: 15px 30px;
  font-size: 25px;
  color: white;
  font-family: "Arvo", serif;
}

.nav-tabs .nav-link.active {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white;
  border: none !important;
}

.nav-link.active {
  color: #d6a12f !important;
}

.ov-gear-list {
  margin-top: 40px;
}

.ov-gear-list li {
  font-size: 22px;
  margin-bottom: 1vh;
  text-transform: capitalize;
}

.ov-gear-list li:last-child {
  margin-bottom: 0px;
}

.ov-gear-nav li a:hover {
  color: #d6a12f;
  background: rgba(0, 0, 0, 0.7);
}

.ov-gear-nav li a:active {
  color: #ffd784;
}

.ov-gear-p-bump {
  margin-top: -4px;
}

.gear-p {
  font-size: 20px;
}

.ov-gear-container {
  margin: 0 auto;
  display: table;
  height: 100%;
}

/*backwards*/
.ov-gear-wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.ov-gear-image {
  max-height: 45vh;
  max-width: 100%;

}

.h4-small-accent {
  font-size: 1.25rem;
}

.h4-large-accent {
  font-size: 4rem;
}

.margin-top-7vh {
  margin-top: 7vh;
}

.marg-top-5 {
  margin-top: 5px;
}

.marg-bot-bump {
  margin-bottom: 20px;
}

.temp {
  padding: 20px 0px;
}

.temp-padding {
  padding: 0px 40px 40px 40px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: transparent;
}

.nav-pills a {
  color: #EEE;
  font-size: 28px;
  text-shadow: 0px 0px 10px #333;
}

.nav-pills a:hover {
  color: #ffcb5b;
  text-shadow: 0px 0px 30px #474013;
  transition: 1s ease;
}

.nav-pills a:active {
  text-shadow: 0px 0px 10px black;
}

.attraction-img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.attraction-img-wrapper {
  position: relative;
  text-align: center;
  bottom: -25px;
}

.attraction-img-container {
  height: 100%;
  display: inline-block;
  width: 100%;
}

.attraction-icon {
  width: 18px;
  margin-bottom: 4px;
}

.ov-animal-wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 0px 10px 0px 15px;
}

#carouselAnimal {
  position: relative;
  padding: 0px 0px 40px;
  color: white;
  top: -50px;
}
div#nav-tabContent{
  width: 100%;
}
.navbar-light .navbar-toggler {
  color: rgba(86, 89, 89, .5);
  border-color: rgba(0, 0, 0, .0);
}

.gear-p {
  font-size: 18px;
}

nav.ov-nav.navbar.navbar-expand-lg.navbar-light {
  z-index: 100;
}

/* Media Queries */

@media screen and (max-width: 1314px) {
  .ov-push{
    top: 47vh;
  }
  .h1,
  h1 {
    font-size: 2rem;
  }

  .double-line {
    margin-top: 16px;
    width: 100px;
  }

  #ov-bg-ne-gear {
    height: 100vh;
  }

}

@media screen and (max-width: 1180px) {
  .ov-img-wrapper{
    padding-bottom: 30px;
  }

  #ov-bg {
    height: auto;
    padding-bottom: 20px;
  }

  .main-headline {
    float: none;
    text-align: center;
    margin: 20px 0px;
  }

  .double-line {
    display: none;
  }

  .hr-white {
    right: 0px;
    width: 100%;
  }

  .att-line {
    width: 70% !important;
  }

  .ov-attraction-bar {
    text-align: center;
    padding: 20px;
    font-size: 16px;
  }

  .attraction-line {
    left: 0;
  }

  .hug-img-line {
    width: 100%;
  }

  .attraction-img-container {
    height: 100%;
    display: block;
  }

  .attraction-img {
    height: 100%;
    width: 100%;
  }

  .attraction-text {
    font-size: 24px;
  }
  .ov-push{
    top: 50vh;
  }
  .ov-animal-box-400{
    height: 400px;
  }
  
  .ov-animal-box-430{
    height: 370px;
  }
}

@media screen and (max-width: 991px) {
  #ov-bg{
    height: 100vh;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }

  .page {
    height: auto !important;
  }

  .ov-main-img {
    background-color: transparent;
  }

  .nav-pills a {
    font-size: 22px;
  }

  .col-3-main {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    position: relative;
    margin: 0 auto;
    padding: 0px;
    max-width: 50%;
  }

  div#ov-nav-col {
    padding: 0px 40px;
  }

  .ov-img-wrapper {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .ov-push {
    position: initial;
    text-align: center;
    padding: 50px;
  }

  .ov-nav ul li {
    float: none;
  }

  .d-flex.width-100 {
    display: block !important;
  }

  .li-l {
    display: none;
  }

  li.nav-item {
    border-bottom: 1px solid #DDD;
  }

  .ml-auto {
    display: none;
  }
  .ov-pad-main-img{
    border: 1px solid black;
    height: 100%;
  }

  .main-headline{
    margin: 0px;
  }
  .row.ov-img-wrapper.ov-remove-marg-horz.ov-pad-30-horz{
    padding-bottom: 0px;
  }
  .ov-ne {
    background: url(../imgs/NorhtEast-Home_720.jpg) no-repeat;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-position: bottom center;
  }
  
  .ov-s {
    background: url(../imgs/South-Home_720.jpg) no-repeat;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-position: bottom center;
  }
  
  .ov-mw {
    background: url(../imgs/Midest-Home_720.jpg) no-repeat;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-position: bottom center;
  }
  
  .ov-w {
    background: url(../imgs/West-Home_720.jpg) no-repeat;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-position: bottom center;
  }
  
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .ov-pad-30-vert {
    padding: 30px 0px;
  }

  .ov-pad-30-horz {
    padding: 0px 20px;
  }

  h3 {
    font-size: 20px;
  }

  .ov-intro-bump {
    width: 100%;
    padding: 20vh 5vw 0px 5vw;
  }

  i.fas.fa-home {
    display: block;
    text-align: center;
    font-size: 30px;
  }

  .ov-padding-60 {
    padding: 20px;
  }

  .margin-top-7vh {
    margin-top: 5vh;
  }

  .h4-small-accent {
    font-size: 1rem;
  }

  .h4-large-accent {
    font-size: 2.5rem;
  }

  .ov-animal-bump {
    width: auto;
    padding: 20px;
  }

  .attraction-text {
    font-size: 20px;
  }

  .ov-marg-right-sm {
    margin-top: 10px;
  }

  .height-100 {
    height: 100%;
    padding-bottom: 60px;
  }

  #carouselAnimal {
    display: none;
  }

  #carouselAnimal-mobile {
    display: block;
  }

  .carousel-item.active {
    padding: 0px 60px 60px 60px;
  }

  .carousel-item {
    padding: 0px 60px 60px 60px;
  }

  .ov-animal-box {
    width: 100%;
    height: 100%;
  }

  .hr-animal {
    right: auto;
    width: 100%;
  }

  .margin-top-resp {
    margin-top: 60px;
  }

  .ov-animal-box {
    margin: 20px auto 20px;
  }

  .full-width-height {
    padding-bottom: 40px;
  }

  .ov-gear-list li {
    margin-bottom: 30px;
  }

  .ov-gear-list li:last-child {
    margin-bottom: 10px;
  }

  ul.ov-gear-list {
    padding-left: 10px;
    margin-bottom: 40px;
  }

  .ov-padding-60-t {
    padding: 20px;
  }

  #ov-bg-ne-animal {
    height: 100%;
  }

  #ov-bg-ne-attraction {
    height: 100%;
  }

  .attraction-icon {
    width: 18px;
  }

  .attraction-mid-ez {
    margin-top: 18px;
    position: relative;
    top: -10px;
  }

  .ov-pad-main-img {
    opacity: 1;
  }

  .cal-bump {
    margin-top: -10px;
  }

  .ul-attraction {
    margin-top: 6vh;
    margin-bottom: 4vh;
  }

  h1 {
    font-size: 27px;
    margin-bottom: 30px;
  }
  img.home-shadow {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  #ov-bg-ne-gear {
    height: 100%;
  }

  .nav-tabs a:first-child {
    margin-left: 0px;
  }

  .nav-tabs a {
    padding: 15px 3vw;
    font-size: 14px;
  }

  #ov-bg-ne-animal {
    height: 100vh;
  }
  .att-line{
    width: 100% !important;
  }
}

@media screen and (max-width:720px){
  .col-3-main {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    position: relative;
    margin: 0 auto;
    padding: 0px;
    max-width: 100%;
  }
  #ov-bg{
    height: auto;
  }
}

@media screen and (max-width: 428px) {

  #ov-bg-ne-gear {
    padding: 0px 0px 40px;
  }

  .ov-padding-60-t {
    padding: 20px;
  }
}

@media screen and (max-height: 625px) {
  .height-100 {
    height: 100%;
  }

  .attraction-img {
    height: auto;
    width: 100%;
  }
}

/* Animation */
.slide-in-x{
  animation: slide-in-x .3s ease-in both;
}

@keyframes slide-in-x {
  from {
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 1;
  }
}

.slide-in {
  animation: slide-in .3s linear forwards;
  position: relative;
}

.slide-in-s {
  animation: slide-in .5s linear forwards;
  position: relative;
}

@keyframes slide-in {
  from {
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 1;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.7s ease-in forwards;
  animation: slide-in-right 0.7s ease-in forwards;
}

.slide-in-right-s {
  -webkit-animation: slide-in-right 0.8s ease-in forwards;
  animation: slide-in-right 0.8s ease-in forwards;
}

.slide-in-right-s-f {
  -webkit-animation: slide-in-right 0.4s ease-in forwards;
  animation: slide-in-right 0.4s ease-in forwards;
}

.slide-in-right-fade {
  -webkit-animation: slide-in-right-fade .8s ease-in forwards;
  animation: slide-in-right-fade .8s ease-in forwards;
}

@-webkit-keyframes slide-in-right-fade {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right-fade {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-top {
  -webkit-animation: fade-in-top 0.35s ease-in forwards;
  animation: fade-in-top 0.35s ease-in forwards;
}

.fade-in-top-s {
  -webkit-animation: fade-in-top 0.55s ease-in forwards;
  animation: fade-in-top 0.55s ease-in forwards;
}

.fade-in-top-f {
  -webkit-animation: fade-in-top 0.25s ease-in forwards;
  animation: fade-in-top 0.25s ease-in forwards;
}

.fade-in-top-region {
  -webkit-animation: fade-in-top-region 0.4s ease-in forwards;
  animation: fade-in-top-region 0.4s ease-in forwards;
}

@-webkit-keyframes fade-in-top-region {
  0% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: .35;
  }
}

@keyframes fade-in-top-region {
  0% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: .35;
  }
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-fwd-left {
  -webkit-animation: slide-in-fwd-left 0.4s ease-in-out;
  animation: slide-in-fwd-left 0.4s ease-in-out;
}

@-webkit-keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.4s ease-in-out;
  animation: slide-in-fwd-center 0.4s ease-in-out;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.4s ease-in-out;
  animation: slide-in-bottom 0.5s 0.4s ease-in-out;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}