<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Dont show index.php" stopProcessing="true">
                    <match url="(.*/?)index.php"></match>
                    <action type="Redirect" url="http://www.scottandwilson.com/{R:1}" redirectType="Permanent" appendQueryString="true"></action>
                </rule>
                <rule name="redirect all domains to www.scottandwilson.com" enabled="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" negate="true" pattern="^www.scottandwilson.com$" />
                    </conditions>
                    <action type="Redirect" url="http://www.scottandwilson.com/{R:0}" redirectType="Permanent" appendQueryString="true" />
                </rule>
                <rule name="Redirect to root">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_URI}" pattern="^/home(/.*)?$" />
                        <add input="{REQUEST_URI}" pattern="^/services(/.*)?$" />
                    </conditions>
                    <action type="Redirect" url="/" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="Redirect to about_us">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_URI}" pattern="^/about_us(/.*)?$" />
                    </conditions>
                    <action type="Redirect" url="/about-us.php" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="Redirect to contact_us">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_URI}" pattern="^/contact_us(/.*)?$" />
                    </conditions>
                    <action type="Redirect" url="/contact.php" redirectType="Permanent" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
